pip install numpy opencv-python torch open3d pyransac3d message-filters
pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu124
python -m pip install paddlepaddle-gpu==3.1.0 -i https://www.paddlepaddle.org.cn/packages/stable/cu118/
pip install paddleocr
pip install sentence-transformers python-Levenshtein openai
